@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
$base-padding: 2rem;

#navigation-container {
    position: fixed;
    right: 0%;
    top: 0;
    background-color: white;
    width: 100%;
}
nav {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 $base-padding;
            flex-grow: 2;
            line-height: 2rem;
            a {
                font-size: 1.4rem;
                font-family: $toned-down-font
            }
        }
    }  
    
}




