<div id="navigation-container" class="blurred-nav-bar">
  <nav>
    <i id="logo"></i>
    <ul id="nagivation">
      <li><a class="secondary-link" routerLinkActive="active">About</a></li>
      <li><a class="primary-link" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li><a class="primary-link" routerLink="/tour" routerLinkActive="active">Tour</a></li>
      <li><a class="primary-link" routerLink="/newsfeed" routerLinkActive="active">News feed</a></li>
      <li><a class="primary-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</div>


