@import '../../styles/colors.scss';
$base-padding: 2rem;

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    li {
        list-style: none;
        display: inline-block;
        padding: $base-padding;
        flex-grow: 2;
        line-height: 2rem;

        a {
            font-size: 1.3rem;
        }
    }
    
}



