<div id="video-container">
  <video #videoplayer class="frame-screen-video" loop autoplay >
    <source src="assets/MVI_1228.MOV" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div id="video-controls" class="controls hidden" #videoControls>
    <fa-icon [icon]="playIcon" class="video-icon" size="3x" (click)="togglePlay()"></fa-icon>
    <fa-icon [icon]="soundIcon" class="video-icon" size="3x" (click)="toggleSound()"></fa-icon>
    <button id="gallery-button" class="main-button secondary-button">
      <a class="secondary-link" routerLink="/gallery" routerLinkActive="active">{{buttonCaption}}</a>
    </button>
  </div>

</div>



  