<main class="slider">
    <div class="glide" id="newsletter-glider">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <ng-container *ngFor="let instagramPost of instagramPosts" >
              <app-news-feed  class="glide__slide" [instagramPost]="instagramPost"></app-news-feed>  
          </ng-container>
        </ul>
        <div class="slider-controls" data-glide-el="controls">
            <fa-icon class="child-control"  size="3x" data-glide-dir="<" [icon]="previousIcon"></fa-icon>
            <fa-icon class="child-control"  size="3x" data-glide-dir=">" [icon]="nextIcon"></fa-icon>
        </div>
      </div>
  </div>
</main>